<?xml version="1.0"?>
	<robot name="robot_stick">

		<!-- lien 1 -->
		<link name="base_link">
			<visual>
				<origin rpy="1.5 0 0" xyz="0 0 0"/>
				<geometry>
					<cylinder length="1" radius="0.05"/>
				</geometry>
				<material name="red">
					<color rgba="0.8 0.0 0.0 1.0"/>
				</material>
			</visual>

			<collision>
				<origin rpy="1.5 0 0" xyz="0 0 0"/>
				<geometry>
					<cylinder length="1" radius="0.05"/>
				</geometry>
    	</collision>

		</link>
		<!-- fin lien 1 -->

	</robot>
